<div class="box-con">
  <table *ngIf="user">
    <h2>{{user.name | uppercase}} Details</h2>
      <tr>
        <td>name</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>Password</td>
        <td><p>********</p></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{user.address}}</td>
      </tr>
      <tr>
        <button routerLink="/profile/edit/{{user.id}}">Edit</button>
      </tr>
  </table>
</div>
