<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">
  <div [hidden]="submitted">
    <h1>Sign up</h1>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
               required
               [(ngModel)]="model.email" name="email"
               #email="ngModel"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

               <div class="alert alert-danger" [hidden]="email.valid || email.untouched">
                   <div  *ngIf="email.errors && email.errors.required">
                       Email is required
                   </div>
                   <div  *ngIf="email.errors && email.errors.pattern">
                       Email is invalid
                   </div>
               </div>
      </div> 
      
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password"
               required
               [(ngModel)]="model.password" name="password"
               #password="ngModel"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8}">
              <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                <div  *ngIf="password.errors && password.errors.required">
                  password is required
                </div>
                <div  *ngIf="password.errors && password.errors.pattern">
                  password is invalid 
                  password must contain 8 characters number and alphabet and special characters  
                </div>
            </div>
      </div>

      <div class="form-group">
        <label for="password">ReType password</label>
        <input type="password" class="form-control" id="Repassword"
               required
               [(ngModel)]="model.password" name="password"
               #Repassword="ngModel"pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8}">
               <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                 <div  *ngIf="password.errors && password.errors.required">
                   password mismatch
                 </div>
                 <div  *ngIf="password.errors && password.errors.pattern">
                   password is invalid 
                   password must contain 8 characters number and alphabet and special characters  
                 </div>
             </div>
      </div>

      <div class="form-group">
        <label for="address">address</label>
        <input type="text" class="form-control" id="address"
               required
               [(ngModel)]="model.address" name="address"
               #address="ngModel">
        <div [hidden]="address.valid || address.pristine"
             class="alert alert-danger">
             address is required
        </div>
      </div>
       <!-- <div class="form-group"> -->
        <input type="checkbox" name="checkPolicy" ng-model="checkPolicy" required> Agree the <a href="#">terms and policy</a>
     <!-- </div> -->
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid && !checkPolicy">Submit</button>
 
      <h6><a href="./seller-signup/seller-signup.html">signup as a seller?</a></h6>
  
    </form>
  </div>

  